@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* inter var - latin */
	@font-face {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 100 900;
		font-display: optional;
		src: url('/public/fonts/inter-var-latin.woff2');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
			U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}

	html {
		scroll-behavior: smooth;
		scroll-padding-top: 80px;
	}

	/* #region  /**=========== Default Typography =========== */
	h1,
	.h1 {
		@apply font-primary text-2xl font-bold md:text-4xl;
	}

	h2,
	.h2 {
		@apply font-primary text-xl font-bold md:text-3xl;
	}

	h3,
	.h3 {
		@apply font-primary text-lg font-bold md:text-2xl;
	}

	h4,
	.h4 {
		@apply font-primary text-base font-bold md:text-lg;
	}

	body {
		@apply h-full font-primary text-sm md:text-base;
		background-color: #f4f4f4;
	}
	/* #endregion  /**======== Default Typography =========== */

	.layout {
		max-width: 1300px;
		@apply mx-auto w-11/12;
	}
}

@layer utilities {
	.loadingSpinnerContainer {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 5000;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.loadingSpinner {
		width: 64px;
		height: 64px;
		border: 8px solid;
		border-color: #4f46e5 transparent #818cf8 transparent;
		border-radius: 50%;
		animation: spin 1.2s linear infinite;
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}
